@import '../../../assets/scss/variables';

.board {
  .board-wrapper {
    .board-columns {
      display: flex;
      gap: 20px;
    }
    .board-column {
      flex: 1;
      background-color: #1d2b30;
      padding: 20px;
      border-radius: 8px;
      .column-title {
        color: $text-color-primary;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .task {
        margin-bottom: 10px;
        .card {
          margin-left: 35px;
          margin-bottom: 20px;
          width: 100%;
          background-color: #d4dddb;
          border: none;
          border-radius: 8px;
          .card-body {
            padding: 20px;
            h5.card-title {
              color: $text-color-secondary;
              margin-bottom: 10px;
            }
            p.card-text {
              color: $text-color-dark;
              margin-bottom: 15px;
            }
            ul.list-group {
              margin-bottom: 15px;

              .list-group-item {
                display: flex;
                justify-content: space-between;
                background-color: $action-color;
                border-radius: 2px;
                margin-top: 2px;
                border: none;
                span {
                  color: $text-color-dark;
                }
              }
            }
            button {
              background-color: $action-color;
              color: white;
              border: none;
              border-radius: 4px;
              padding: 8px 16px;
              cursor: pointer;
              transition: background-color 0.3s;
              &:hover {
                background-color: darken($action-color, 10%);
              }
            }
          }
        }
      }
    }
  }
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    form {
      .row {
        margin-bottom: 20px;
        .input-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          .label {
            color: $text-color-primary;
            margin-bottom: 5px;
          }
          input,
          select {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            &:focus {
              outline: none;
              border-color: $action-color;
            }
          }
        }
      }
      button {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:first-child {
          background-color: $action-color;
          color: white;
          margin-right: 10px;
          &:hover {
            background-color: darken($action-color, 10%);
          }
        }
        &.btn-secondary {
          background-color: $background-color-light;
          color: $text-color-primary;
          &:hover {
            background-color: darken($background-color-light, 10%);
          }
        }
      }
    }
  }
}

.task.cdk-drag-preview {
  transition:
    transform 30ms ease-in-out,
    box-shadow 30ms ease-in-out;
  transform-origin: center;
  .card {
    background-color: #667a76;
    border: none;
    border-radius: 8px;
    .list-group-item {
      display: flex;
      justify-content: space-between;
      background-color: $action-color;
      border-radius: 2px;
      margin-top: 2px;
      border: none;
      span {
        color: $text-color-dark;
      }
    }
  }
  button {
    margin-top: 5px;
    background-color: $text-color-primary;
    color: #1d2b30;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken($action-color, 10%);
    }
  }
}

.task.cdk-drag-animating {
  transition: transform 30ms ease-in-out;
}

.task.cdk-drag-dropped {
  transition: transform 30ms ease-in-out;
}
