<div class="nav-bar-container">
  <div class="nav-bar-icon" (click)="toggleSideNavigation()">
    <i class="bi bi-list"></i>
  </div>
  <div class="project-info">URIS frontend template</div>
  <div class="logout-container" (click)="onLogout()">
    <i class="bi bi-box-arrow-right nav-bar-icon"></i>
    Logout
  </div>
</div>

<div class="side-nav-container">
  <div class="side-nav" [ngClass]="{ 'hide-menu': toggleSideNav }">
    <ul>
      <li (click)="closeMenu('dashboard')">
        <i class="bi bi-graph-up"></i>
        <span> Dashboard </span>
      </li>
      <li (click)="closeMenu('backlog')">
        <i class="bi bi-table"></i> <span> Backlog </span>
      </li>
      <li (click)="closeMenu('board')">
        <i class="bi bi-kanban"></i> <span> Board view </span>
      </li>
      <li (click)="closeMenu('profile')">
        <i class="bi bi-person-square"></i> <span> User profile </span>
      </li>
    </ul>
  </div>
</div>
