@import '../../../assets/scss/variables';

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: linear-gradient(
    135deg,
    rgba(29, 38, 46, 1),
    rgba(29, 38, 46, 1) 20%,
    rgba(35, 52, 57, 1) 40%,
    rgba(35, 52, 57, 1) 60%,
    rgba(29, 38, 46, 1) 80%,
    rgba(29, 38, 46, 1)
  );
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.project-info {
  color: $text-color-primary;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

.side-nav i {
  width: 40px;
  height: 50px;
  color: $action-color;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  transition: left 0.4s ease;
  background-image: url('/assets/img/sideNavBackground.jpg');
  box-shadow: 8px 0px 20px rgba(0, 0, 0, 0.4);
}

.side-nav ul {
  list-style-type: none;
  padding: 10px 0 0 0;
}

.side-nav ul li {
  margin: 5px;
  color: $text-color-primary;
  font-size: 18px;
  padding: 15px;
  border-bottom: 1px solid $action-color;
  cursor: pointer;
}

.side-nav ul li:hover {
  background-color: rgba(132, 169, 140, 0.7);
}

.nav-bar-icon {
  color: $action-color;
  font-size: 40px;
  cursor: pointer;
  margin-left: 260px;
}

.hide-menu {
  left: -270px;
  box-shadow: 0;
}

.side-nav > ul > li > span {
  margin-left: 10px;
}

.logout-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 200px;
  align-items: center;
  color: $text-color-primary;
  font-size: 14px;
  cursor: pointer;
  .nav-bar-icon {
    margin-left: 0;
    font-size: 30px;
  }
}

.content-container {
  height: 100vh;
  margin-top: 20px;
  margin-left: 20px;
  transition: margin-left 0.3s ease;
  &.shifted {
    margin-left: 270px;
  }
}
