<div class="login-container-wrapper" #containerWrapper>
  <div class="login-container">
    <div class="login-box">
      <h2>Let's Get Started</h2>
      <form action="#">
        <div class="input-field">
          <input
            #emailInput
            type="email"
            [(ngModel)]="loginObj.EmailId"
            name="EmailId"
            required
            autofocus
            placeholder="Enter your email" />
        </div>
        <div class="input-field">
          <input
            #passwordInput
            type="password"
            [(ngModel)]="loginObj.Password"
            name="Password"
            placeholder="Enter your password" />
        </div>
        <button type="submit" class="btn" (click)="onLogin()">LOGIN</button>
      </form>
    </div>
  </div>
</div>
