@import '../../../assets/scss/variables';

.container {
  margin-top: 20px;
  margin-left: 0px;
  height: 80vh;
}
.info-section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 20px;
  word-wrap: break-word;
  background-color: rgba(43, 60, 68, 0.95);
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  box-shadow:
    5px 5px 8px 0 rgba(0, 0, 0, 0.3),
    5px 5px 8px 0 rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
  height: 250px;
}

.info-section-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.social-links {
  background-color: #405f5d;
  height: 170px;
  width: 600px;
  padding-top: 10px;
  margin-left: 10px;
}

.social-links .row:hover {
  background-color: $action-color;
  opacity: 0.8;
}

h4,
hr {
  color: $action-color;
}

h6 {
  color: $text-color-secondary;
}

p,
div {
  color: $text-color-primary;
}

.profile-card {
  background-color: #2c393b;
}

.info-section-row {
  display: flex;
  align-items: center;
  height: 40px;
}

.info-section-row i {
  margin-right: 10px;
}

.info-title {
  margin-right: auto;
}

.info-value {
  margin-left: 10px;
}

.col-md-8 .row:hover {
  background-color: $action-color;
  opacity: 0.8;
}

.info-row {
  display: flex;
  height: 28px;
  align-items: center;

  i {
    color: $action-color;
    margin-right: 10px;
    font-size: 20px;
  }
}

.info-section:hover {
  transform: scale(1.05);
}

.card-container {
  width: 300px;
  margin-left: 10px;
}

.card {
  position: relative;
  width: 100%;
}

.face {
  width: 100%;
  height: 170px;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.face.face1 {
  background: $text-color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.card-container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.card-container .card .face.face1 .content .icon {
  margin-right: 10px;
  color: $action-color;
  font-size: 20px;
}

.face.face2 {
  background: $action-color;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
  transform: translateX(0%);
  transition: transform 0.5s ease;
}

.card-container .card:hover .face.face2 {
  transform: translateX(100%);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
