@import '../../../assets/scss/variables';

nav {
  padding-bottom: 5px;
}

// Header container
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: $text-color-green-dark;
  align-items: center;

  .filter-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    .filter {
      display: flex;
      flex-direction: column;
      label {
        text-align: center;
      }
      select {
        background-color: $text-color-primary;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}

// Backlog button
.backlog-btn {
  border-radius: 5px;
  background-color: #293c3b;
  color: $text-color-primary;
  margin-right: 10px;
}

// Table
.table th,
.table td {
  padding: 1.5rem;
}

// Badge
.badge {
  text-transform: uppercase;
}

// Table header
.table th {
  font-weight: 600;
}

.table-header th {
  color: $action-color;
  text-align: center;
  background-color: #eef5f3;
}

.left-aligned {
  text-align: left !important;
}

.table td {
  text-align: center;
}

// Task type
.epic {
  background-color: $action-color;
}

.feature {
  background-color: $text-color-secondary;
}

.task {
  background-color: $background-color-light;
}

.bug {
  background-color: $text-color-green-dark;
}

// Priority badge
.low {
  background-color: #57a4e4;
}

.medium {
  background-color: #e6d96d;
}

.high {
  background-color: #f88b24;
}

.urgent {
  background-color: #d8271b;
}

// Pagination
.page-link {
  background-color: #eef5f3;
  color: #84a98c;
}

.page-link.active,
.active > .page-link {
  border-color: #a6bcbc;
  transform: scale(1.2);
}

.page-link:focus,
.active > .page-link:focus {
  border-color: #a6bcbc !important;
  box-shadow: none;
}

.actions-wrapper i {
  margin-left: 15px;
}

// Shadow style
.shadow {
  box-shadow: 0 0 2rem 0 rgba(110, 124, 118, 0.15) !important;
}

// Hover effect

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: rgba(132, 169, 140, 0.5);
}

.page-link:hover .page-link:focus {
  background-color: #8b9f9f;
  color: $text-color-primary;
}

.btn-cancel:hover {
  background-color: darken($action-color, 20%);
  transform: scale(1.1);
}

.btn-delete:hover {
  background-color: darken(#dc3545, 20%);
  transform: scale(1.1);
}

.sortable {
  cursor: pointer;
}

// Modal

.delete-modal {
  display: block;
  position: fixed;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  width: 400px;
  overflow: hidden;
  outline: 0;
}

.delete-modal-dialog {
  width: auto;
  margin: 10px;
}

.delete-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.delete-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid $action-color;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: #eef5f3;
  color: #84a98c;
}

.delete-modal-title {
  margin: 0;
}

.close-button {
  border: none;
  background: none;
  cursor: pointer;
  color: $action-color;
  text-align: center;
}

.delete-modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  background-color: #eef5f3;
  color: $background-color-light;
  text-align: center;
}

.delete-modal-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-top: 1px solid $action-color;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: #eef5f3;
  color: #84a98c;
}

.btn-cancel {
  color: #fff;
  background-color: $action-color;
}

.btn-delete {
  color: #fff;
  background-color: #dc3545;
}

.blurred {
  filter: blur(55px);
}
.edit-modal {
  .container {
    position: fixed;
    top: 11%;
    left: 30%;
    width: 800px;
    height: 700px;
    overflow: auto;
    background-color: $background-color-light;
  }

  .form-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .input-group {
    margin-bottom: 20px;
  }

  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type='text'],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button[type='submit'],
  button[type='button'] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  button[type='submit']:hover,
  button[type='button']:hover {
    background-color: #45a049;
  }

  button[type='submit']:disabled,
  button[type='button']:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .col {
    flex: 1;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
