<div class="container">
  <div class="chart-container">
    <div class="chart-type-container shadow">
      <app-task-type-chart
        [taskTypeCounts]="taskTypeCounts"></app-task-type-chart>
    </div>
    <div class="chart-type-container shadow">
      <app-task-priority-chart
        [taskPriorityCounts]="taskPriorityCounts"></app-task-priority-chart>
    </div>
    <div class="chart-type-container shadow">
      <app-task-status-chart
        [taskStatusCounts]="taskStatusCounts"></app-task-status-chart>
    </div>
  </div>
  <div class="user-chart-container">
    <label for="userDropdown" class="form-label">Select user:</label>
    <select id="userDropdown" (change)="onSelectUser($event)">
      <option value="" disabled selected hidden>Choose user to see data</option>
      <option *ngFor="let user of allUsers$ | async" [value]="user.userId">
        {{ user.fullName }}
      </option>
    </select>
    <div class="smallere">
      <app-user-task-distribution-chart [chartData]="chartData">
      </app-user-task-distribution-chart>
    </div>
  </div>
  <div class="table-responsive shadow">
    <table class="table">
      <thead class="table-header">
        <tr>
          <th>Full name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Links</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers$ | async">
          <th>
            <span>{{ user.fullName }}</span>
          </th>
          <td class="left-aligned">{{ user.email }}</td>
          <td class="left-aligned">{{ user.address }}</td>
          <td>{{ user.mobile }}</td>
          <td>
            <span>{{ user.gitHubUrl }}</span>
            <span>{{ user.linkedinUrl }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
