<div class="container">
  <div class="chart-container">
    <div class="chart-type-container shadow">
      <app-task-type-chart
        [taskTypeCounts]="taskTypeCounts"></app-task-type-chart>
    </div>
    <div class="chart-type-container shadow">
      <app-task-priority-chart
        [taskPriorityCounts]="taskPriorityCounts"></app-task-priority-chart>
    </div>
    <div class="chart-type-container shadow">
      <app-task-status-chart
        [taskStatusCounts]="taskStatusCounts"></app-task-status-chart>
    </div>
  </div>
</div>
